blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body {
    background: #fff;
    color: #000;
    font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif
}

body,
caption,
td,
th {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 100%
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: 400
}

a {
    text-decoration: none;
    color: inherit
}

img {
    border: none;
    vertical-align: middle
}

li,
ol,
ul {
    list-style: none
}

button,
input,
select,
textarea {
    font: 14px 'Microsoft yahei', Verdana, Helvetica, Arial, sans-serif;
    vertical-align: middle;
    border: none;
    resize: none
}

table {
    border-collapse: collapse
}
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.fl {
    float: left
}

.fl,
.fr {
    display: inline
}

.fr {
    float: right
}

.p_rel {
    position: relative
}

.p_abs {
    position: absolute
}
